<%= turbo_frame_tag notification do %>
  <li class='<%= notification_read(notification) %>'>
    <%= render "notifications/#{notification.type_of_notification}", notification: notification %>
  </li>
<% end %>
